body {
  background-color: #343554;
  color: white;
}

.my-background {
  display: flex;
  flex-direction: column;
  background-image: url("../images/my-background.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul {
  list-style-type: none;
  padding: 1rem;
  float: right;
}
nav ul li {
  display: inline;
}
nav ul li a {
  padding: 8px;
  margin: 5px;
  border: solid #343554;
  color: #343554;
  text-decoration: none;
  font-size: larger;
}
nav ul li a:hover {
  /* background-color: #e67d50; */
  background-color: #F27650;
  padding: 9px;
}
.current {
  background-color: #f7ad8d;
}
.title {
  align-self: center;
  align-items: end;
  padding-top: 21rem;
  font-weight: lighter;
  font-size: large;
}
fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form-col {
  width: 30%;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
select {
  padding: 0.25rem;
  margin: 0.25rem 0 0.25rem 0;
  width: 100%;
}
#display-mountains-div, #display-parks-div {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 7rem 15rem 7rem;
  width: 20rem;
}
#card {
}